      /* Estilos para mejorar el diseño del formulario */
      @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
      
      html, body {
        height: auto;
        overflow-y: auto;
      }
      .modal-dialog {
        margin-top: 70px !important;
      }
      #loginModal .modal-content {
        border-radius: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      }

      #loginForm {
        padding: 20px;
      }

      #loginForm .form-label {
        font-weight: bold;
      }

      #loginForm .form-control {
        border-radius: 8px;
      }

      #loginForm .btn-primary {
        background-color: black;
        border-color: black;
        border-radius: 8px;
      }

      #loginForm .btn-primary:hover {
        background-color: #333;
      }

      /* Ajustes adicionales */
      .navbar-collapse {
        transition: height 0.3s ease;
      }

      /* Estilos para mejorar el diseño del formulario */
      #loginModal .modal-content, #changePasswordModal .modal-content {
        border-radius: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      }

      .modal-body form {
        padding: 20px;
      }

      .modal-body .form-label {
        font-weight: bold;
      }

      .modal-body .form-control {
        border-radius: 8px;
      }

      .modal-body .btn-primary {
        background-color: black;
        border-color: black;
        border-radius: 8px;
      }

      .modal-body .btn-primary:hover {
        background-color: #333;
      }