  <div>  
    <div class="container-fluid">     
      <h3></h3><!--<div class="output"> </div>-->     
      <form id="frmInforme">
        <div class="container-fluid p-0 m-0">
          <div class="card shadow border-0">
            <div class="card-header bg-dark text-white d-flex align-items-center" style="height: 3rem;">
              <h5 class="card-title mb-0 fw-bold">Informe por Fechas</h5>
            </div>
            <div class="card-body">
              <div class="row mb-3">
                <div class="col-sm">
                  <label for="fechaInicio" class="form-label">Fecha Inicial</label>
                  <input type="date" class="form-control" id="fechaInicio" name="fechaInicio">   
                </div>           
                <div class="col-sm">
                  <label for="fechaFinal" class="form-label">Fecha Final</label>
                  <input type="date" class="form-control" id="fechaFinal" name="fechaFinal">
                </div>
              </div>
              
              <div class="text-end">
                <button type="button" class="btn btn-primary" id="consultar" onclick="nsNomina.consultarDatos()">Consultar</button>
                <button type="button" class="btn btn-success" onclick="nsNomina.generarCSV()"><i class="bi bi-file-earmark-excel"></i></button>
              </div>
            </div>
            <div class="container-fluid">
              <div id="containerTabla" class="d-flex justify-content-center"></div>
              <div class="d-flex justify-content-center mt-3 overflow-auto" style="max-width: 100%;">
                <div id="pagination" class="d-flex flex-wrap justify-content-center"></div>
              </div>
            </div>        
          </div>
        </div>
      </form>      
    </div>  
  </div> 
  <template id="plantillaTabla">
    <div style="overflow-x: auto; width: 100%;">
      <table class="table table-dark table-striped table-bordered mb-0" style="min-width: 600px;">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Día</th>
            <th scope="col">Tipo Registro</th>
            <th scope="col">Hora</th>
            <th scope="col">Foto</th>
            <th scope="col">Ubicación</th>
          </tr>
        </thead>
        <tbody id="mainTable"></tbody>
      </table>
    </div>
  </template>
  <script>     
  var nsNomina = (function() { 
    let currentPage = 1;
    let recordsPerPage = 8;
    let dataTable = [];

    function consultarDatos() {

      let containerTabla = document.getElementById('containerTabla');
      removeALLChilds(containerTabla);

      var fechaInicio = document.getElementById('fechaInicio').value;
      var fechaFin = document.getElementById('fechaFinal').value;      
      
      if (fechaInicio && fechaFin) {// Comprobar si se han seleccionado ambas fechas

          var fechaISOInicio = new Date(fechaInicio).toISOString().split('T')[0]; // Formato YYYY-MM-DD
          var fechaISOFin = new Date(fechaFin).toISOString().split('T')[0]; // Formato YYYY-MM-DD         
          crearLoader(); // se empieza a hacer la consulta
          obtenerDatosPorRango(fechaISOInicio,fechaISOFin);

      } else {
          alertSMS("Error: Ingrese ambas fechas inicial y final!");
      }
      
    }

    async function obtenerDatosPorRango(fechaInicial, fechaFinal) {
      try {
        const response = await fetch(API_URL, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
          },
          body: new URLSearchParams({
            action: 'filtrarFechasPorRango',
            fechaInicial: fechaInicial,
            fechaFinal: fechaFinal
          })
        });

        const data = await response.json();

        if (data.status === 'success') {
          success(data.data);       
          eliminarLoader();
        } else {
          console.error(data.mensaje || "Error al obtener los datos por rango");
          eliminarLoader();
        }
      } catch (error) {
        console.error('Error en obtenerDatosPorRango:', error);
        eliminarLoader();
      }
    }

    function success(data) {
      dataTable = data;  // Almacenar los datos en dataTable
      currentPage = 1;   // Resetear a la primera página
      updateTable();     // Mostrar la tabla con paginación
    }

    function updateTable() {
      let containerTabla = document.getElementById('containerTabla');
      removeALLChilds(containerTabla);
      
      let tabla = document.getElementById('plantillaTabla'); 
      containerTabla.appendChild(tabla.content.cloneNode(true)); 

      let mainTable = document.getElementById("mainTable");
      let html = '';

      let start = (currentPage - 1) * recordsPerPage;
      let end = start + recordsPerPage;
      let paginatedData = dataTable.slice(start, end);

      paginatedData.forEach(elemento => {           
        let URLimg = `'https://drive.google.com/thumbnail?id=${elemento[8]}'`;
        html += `<tr class="table table-striped">
                  <td>${elemento[0]}</td>
                  <td>${elemento[2]}</td>
                  <td>${elemento[4]}</td>
                  <td>${elemento[3]}</td>
                  <td style="text-align:center;">                
                    <a href="#" onclick="nsNomina.mostrarFoto(${URLimg})"><i class="bi bi-image"></i></a>            
                  </td>                 
                  <td style="text-align:center;">
                    <a href="#" onclick="nsNomina.geolocalizar('${elemento[7]}')"><i class="bi bi-geo-alt-fill"></i></a>
                  </td>
                </tr>`;
      });

      mainTable.innerHTML = html;
      eliminarLoader();
      createPagination();
    }

    function createPagination() {
      let pagination = document.getElementById("pagination");
      removeALLChilds(pagination);
      let pageCount = Math.ceil(dataTable.length / recordsPerPage);

      for (let i = 1; i <= pageCount; i++) {
        let pageLink = document.createElement('button');
        pageLink.classList.add('btn', 'btn-secondary', 'mx-1');
        pageLink.textContent = i;

        if (i === currentPage) {
          pageLink.classList.add('active');
        }

        pageLink.addEventListener('click', function() {
          currentPage = i;
          updateTable();
        });

        pagination.appendChild(pageLink);
      }
    }

    function mostrarFoto(urlimg) {
      event.preventDefault();        
      let myModal = new bootstrap.Modal(document.getElementById('myModal'));         
      let mbody = document.getElementById("myModalbody");
      let modalcontainer = document.getElementById("modalcontainer");
      modalcontainer.classList.remove("modal-xl");
      mbody.innerHTML = `<img src="${urlimg}" class="img-fluid"/>`;
      myModal.show();
    }

    function geolocalizar(coordenadas) {
      let iframe = `<iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" 
      marginwidth="0" src="${coordenadas}&output=embed"></iframe>`;
      let myModal = new bootstrap.Modal(document.getElementById('myModal'));         
      let mbody = document.getElementById("myModalbody");
      let modalcontainer = document.getElementById("modalcontainer");
      modalcontainer.classList.add("modal-xl");
      mbody.innerHTML = iframe;
      myModal.show();
    }

    function removeALLChilds(parent) {
      while (parent.firstChild) {
        parent.removeChild(parent.firstChild);
      }
    }

    async function generarCSV() {
      var fechaInicio = document.getElementById('fechaInicio').value;
      var fechaFin = document.getElementById('fechaFinal').value;
      if (fechaInicio && fechaFin) {// Comprobar si se han seleccionado ambas fechas
        
        var fechaISOInicio = new Date(fechaInicio).toISOString().split('T')[0]; // Formato YYYY-MM-DD
        var fechaISOFin = new Date(fechaFin).toISOString().split('T')[0]; // Formato YYYY-MM-DD         
        crearLoader(); // se empieza a hacer la consulta

        try {           

          const response = await fetch(API_URL, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
            },
            body: new URLSearchParams({
              action: 'generarCSV',
              fechaInicial: fechaISOInicio,
              fechaFinal: fechaISOFin
            })
          });

          const data = await response.json(); 

          if (data.status === 'success' && data.downloadUrl) {
            // Crear enlace temporal para descargar el archivo automáticamente
            const link = document.createElement('a');
            link.href = data.downloadUrl;
            link.download = 'Informe_Nómina.csv'; // Nombre sugerido para la descarga
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
            console.log("Descarga iniciada.");
            eliminarLoader();
          } else {
            console.error(data.mensaje || "Error al generar CSV");
             eliminarLoader();
          }
        } catch (error) {
          console.error('Error en generarCSV:', error);
          eliminarLoader();
        }
      } else {
          alertSMS("Error: Ingrese ambas fechas inicial y final!");
      }
    }    

    return {
      consultarDatos: consultarDatos,
      mostrarFoto: mostrarFoto,
      geolocalizar: geolocalizar,
      generarCSV
    };

  })();
  </script>